Binaries/*
Build/*
Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Saved/*
WindowsNoEditor/*

*.sln
.vs/*

Content/Recordings/*
Content/TexturedModels/*
Content/VoxelVideos/*

VirtualWharenuiTelepresence[Working]/*